<div id="loginImg">
    <div class="panelizquierdo">
        <div id="cabezera">
            <img src="assets/img/login/logo.png" alt="Chicago" class="imgLogo" />
        </div>

        <div id="cuerpo">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="cajaTexto">
                            <div class="textoTitle">
                                <span class="spanTitle">
                  ¿Para qué nos sirve este portal?
                </span>
                            </div>
                            <div class="textoCuerpo">
                                <p>
                                    El sistema informático CAPACITA+ permite registrar las capacitaciones que ofrecen los proveedores de capacitación pertenecientes al sector público o privado, tales como universidades, institutos, escuelas, etc., con la finalidad de ponerlo a disposición
                                    de las entidades públicas para que tengan mayores opciones al momento de contratar servicios de capacitación
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="cajaTexto">
                            <div class="textoTitle">
                                <span class="spanTitle">
                  ¿Para qué nos sirve este portal?
                </span>
                            </div>
                            <div class="textoCuerpo">
                                <p>
                                    El sistema informático CAPACITA+ permite registrar las capacitaciones que ofrecen los proveedores de capacitación pertenecientes al sector público o privado, tales como universidades, institutos, escuelas, etc., con la finalidad de ponerlo a disposición
                                    de las entidades públicas para que tengan mayores opciones al momento de contratar servicios de capacitación
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="cajaTexto">
                            <div class="textoTitle">
                                <span class="spanTitle">
                  ¿Para qué nos sirve este portal?
                </span>
                            </div>
                            <div class="textoCuerpo">
                                <p>
                                    El sistema informático CAPACITA+ permite registrar las capacitaciones que ofrecen los proveedores de capacitación pertenecientes al sector público o privado, tales como universidades, institutos, escuelas, etc., con la finalidad de ponerlo a disposición
                                    de las entidades públicas para que tengan mayores opciones al momento de contratar servicios de capacitación
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div id="footer">
            <div class="col-6 text-center">
                <button type="button" class="btn btn-success" (click)="openLoginEntranceModal()">
          INGRESAR
        </button>
            </div>
        </div>
    </div>
    <div class="panelderecho">
        <div class="row">
            <div class="col-6">
                <a class="btn btn-success" href="#" role="button">Directorio de proveedores de capacitación</a>
            </div>
            <div class="col-6">
                <a class="btn btn-success" href="#" role="button">Catálogo de capacitaciones</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal de LOGIN -->
<app-login-entrance-modal [display]="displayLoginEntranceModal" (close)="closeEntranceModalFromTop()"></app-login-entrance-modal>
<!-- Modal de cambio de contraseña
 <app-login-password-change-modal [display]="displayLoginPasswordChangeModal"
  (close)="closePasswordChangeModalFromTop()"></app-login-password-change-modal> -->