#loginImg {
    background-image: url("/assets/img/login/indexfondo.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.panelizquierdo {
    width: 60%;
    height: 100%;
    background-size: 2021px;
    float: left;
    background-image: url("/assets/img/login/u5.svg");
    background-repeat: no-repeat;
}

.panelderecho {
    width: 30%;
    height: 725px;
    /* float:left; */
    display: inline-block;
}

@media screen and (max-width: 692px) {
    .main,
    .small {
        width: 100%;
        float: none;
    }
}


/* colors */

.main {
    background: #ffffff;
}

.orange {
    background: #ecbd00;
}

.green {
    background: #6aec00;
}

.blue {
    background: #00c8ec;
}

.purple {
    background: #c300ec;
}

.red {
    background: #e93a73;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.imgLogo {
    width: 50%;
    height: 50%;
}

.spanTitle {
    color: #28AA64;
    text-align: left;
}

.textoCuerpo {
    /* position: absolute;
    align-self: flex-start;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%; */
    width: 420px;
    margin: 15px;
}

.textoTitle {
    padding: 2px 2px 2px 2px;
    border-width: 0px;
    left: 18px;
    top: 19px;
    width: 510px;
    display: flex;
    font-size: 24px;
    color: #28AA64;
    text-align: left;
    margin: 10px
}

.footer {
    margin: 15px;
}

.cuerpo {
    margin: 15px;
}