<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-4 text-blue">
            <h4 class="fw-600">Dependencias</h4>
            <p class="fs-12 mb-0">Datos actualizados al 10 de Febrero del 2020</p>
        </div>
    </div>
</div>
<hr class="text-blue mt-0 main-horizontal-line">
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-7">
            <label class="text-gray fs-12">Buscar</label>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <fa-icon [icon]="faSearch" class="text-gray icon-search"></fa-icon>
                </div>
                <input type="text" class="form-control input-search" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon1">
            </div>
        </div>
        <!-- <div class="col-12 col-md-2">
        <label class="text-gray fs-12" for="documentType">Área académica</label>
        <select  class="custom-select custom-select-sm corner-radius-6" name="academicField" [(ngModel)]="academicFields" (change)="validateAcademicField()">
          <option class="fs-14" value="">Selecciona</option>
          <option class="fs-14" *ngFor="let academicField of academicFields" value="{{ academicField.code }}">{{ academicField.value }}</option>
        </select>
      </div> -->
        <div class="col-12 col-md-5">
            <label class="text-gray fs-12" for="documentType">Departamento</label>
            <select class="custom-select custom-select-sm corner-radius-6" name="academicDepartment" [(ngModel)]="academicDepartment" (change)="validateAcademicDepartment()">
          <option class="fs-14" value="">Selecciona</option>
          <option class="fs-14" *ngFor="let academicDepartment of academicDepartment" value="{{ academicDepartment.code }}">{{ academicDepartment.value }}</option>
        </select>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12 text-right">
            <button role="button" class="btn bg-white text-dark border border-dark fs-14 pointer mr-2">
          <fa-icon [icon]="faEraser" class="text-dark"></fa-icon>
          Limpiar
        </button>
            <button type="button" class="btn bg-green text-white btn-radius-40 btn-padding fs-14 pointer ml-2">
          <fa-icon [icon]="faSearch" class="text-white"></fa-icon>
          Buscar
        </button>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12">
            <button type="button" class="btn bg-green text-white btn-radius-40 btn-padding fs-14 pointer" (click)="registerLocation()">
          <fa-icon [icon]="faPlusCircle" class="text-white"></fa-icon>
          Añadir registro
        </button>
        </div>
    </div>
    <div class="row my-4 text-blue">
        <div class="col-12">
            <h4 class="fw-600">Lista de dependencias</h4>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12">
            <p-table [value]="data" [paginator]="true" [rows]="10" sortMode="multiple" [resizableColumns]="true" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th width="7%" class="fs-12" style="background-color: transparent; border:none; color: #4a4a4a">Todos</th>
                        <th width="20%" class="fs-12" style="background-color: transparent; border:none; color: #4a4a4a;">Dependencia</th>
                        <th width="20%" class="fs-12" style="background-color: transparent; border:none; color: #4a4a4a;">Dirección</th>
                        <th class="fs-12" style="background-color: transparent; border:none; color: #4a4a4a;">Departamento</th>
                        <th class="fs-12" style="background-color: transparent; border:none; color: #4a4a4a;">Provincia</th>
                        <th class="fs-12" style="background-color: transparent; border:none; color: #4a4a4a;">Distrito</th>
                        <th width="10%" class="fs-12 text-center" style="background-color: transparent; border:none; color: #4a4a4a;">Acciones</th>
                    </tr>
                    <tr>
                        <th class="text-center" style="border-left:none; border-right:none; background-color: transparent;">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="border-left:none; border-right:none; background-color: transparent;">
                            <input pInputText type="text" class="table-filter form-control fs-14" placeholder="Filtrar" style="border-radius: 6px; width:100%;" maxlength="20">
                        </th>
                        <th style="border-left:none; border-right:none; background-color: transparent;">
                            <input pInputText type="text" class="table-filter form-control fs-14" placeholder="Filtrar" style="border-radius: 6px; width:100%;" maxlength="20">
                        </th>
                        <th style="border-left:none; border-right:none; background-color: transparent;">
                            <input pInputText type="text" class="table-filter form-control fs-14" placeholder="Filtrar" style="border-radius: 6px; width:100%" maxlength="20">
                        </th>
                        <th style="border-left:none; border-right:none; background-color: transparent;">
                            <input pInputText type="text" class="table-filter form-control fs-14" placeholder="Filtrar" style="border-radius: 6px; width:100%;" maxlength="20">
                        </th>
                        <th style="border-left:none; border-right:none; background-color: transparent;">
                            <input pInputText type="text" class="table-filter form-control fs-14" placeholder="Filtrar" style="border-radius: 6px; width:100%" maxlength="20">
                        </th>
                        <th style="border-left:none; border-right:none; background-color: transparent;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dat>
                    <tr class="hover-effect">
                        <td class="fs-14 text-center" style="background-color: #fff; border-bottom: none; border-left:none; border-right:none; border-color: #caddec; border-width: 1.5px; font-weight: 500;">
                            <p-tableCheckbox [value]="dat"></p-tableCheckbox>
                        </td>
                        <td class="fs-14" style="background-color: #fff; border-bottom: none; border-left:none; border-right:none; border-color: #caddec; border-width: 1.5px; font-weight: 500;">{{ dat.location }}</td>
                        <td class="fs-14" style="background-color: #fff; border-bottom: none; border-left:none; border-right:none; border-color: #caddec; border-width: 1.5px; font-weight: 500;">{{ dat.address }}</td>
                        <td class="fs-14" style="background-color: #fff; border-bottom: none; border-left:none; border-right:none; border-color: #caddec; border-width: 1.5px; font-weight: 500;">{{ dat.dep }}</td>
                        <td class="fs-14" style="background-color: #fff; border-bottom: none; border-left:none; border-right:none; border-color: #caddec; border-width: 1.5px; font-weight: 500;">{{ dat.prov }}</td>
                        <td class="fs-14" style="background-color: #fff; border-bottom: none; border-left:none; border-right:none; border-color: #caddec; border-width: 1.5px; font-weight: 500;">{{ dat.city }}</td>
                        <td class="fs-14 text-center" style="background-color: #fff; border-bottom: none; border-left:none; border-right:none; border-color: #caddec; border-width: 1.5px;">
                            <fa-icon [icon]="faEye" class="text-green pointer"></fa-icon>
                            <fa-icon [icon]="faPencilAlt" class="text-green pointer mx-3"></fa-icon>
                            <fa-icon [icon]="faTrashAlt" class="text-green pointer"></fa-icon>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>


<!-- Modal de registro de DEPENDENCIAS -->
<p-dialog [(visible)]="registerLocationModal" [modal]="true" [responsive]="true" [style]="{'minWidth': '400px'}">
    <p-header>
        Registro
    </p-header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p-tabView>
                    <p-tabPanel header="Registro individual de dependencias">
                        <div class="container-fluid">
                            <div class="row mt-4">
                                <div class="col-12 col-md-4">
                                    <label class="text-dark-gray fs-12">Nombre de dependencia</label>
                                    <div class="input-group input-group-sm mb-3">
                                        <input type="text" class="form-control fs-14 corner-radius-6" aria-label="Buscar" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-12 col-md-8">
                                    <label class="text-dark-gray fs-12">Dirección de dependencia</label>
                                    <div class="input-group input-group-sm mb-3">
                                        <input type="text" class="form-control fs-14 corner-radius-6" aria-label="Buscar" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col 12 col-md-3">
                                    <label class="text-gray fs-12" for="documentType">Departamento</label>
                                    <select class="custom-select custom-select-sm corner-radius-6" name="dep" [(ngModel)]="dep">
                        <option class="fs-14" value="">Selecciona</option>
                        <option class="fs-14" *ngFor="let academicDepartment of academicDepartment" value="{{ academicDepartment.code }}">{{ academicDepartment.value }}</option>
                      </select>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="text-gray fs-12" for="documentType">Provincia</label>
                                    <select class="custom-select custom-select-sm corner-radius-6" name="prov" [(ngModel)]="prov">
                        <option class="fs-14" value="">Selecciona</option>
                        <option class="fs-14" *ngFor="let academicDepartment of academicDepartment" value="{{ academicDepartment.code }}">{{ academicDepartment.value }}</option>
                      </select>
                                </div>
                                <div class="col 12 col-md-3">
                                    <label class="text-gray fs-12" for="documentType">Distrito</label>
                                    <select class="custom-select custom-select-sm corner-radius-6" name="city" [(ngModel)]="city">
                        <option class="fs-14" value="">Selecciona</option>
                        <option class="fs-14" *ngFor="let academicDepartment of academicDepartment" value="{{ academicDepartment.code }}">{{ academicDepartment.value }}</option>
                      </select>
                                </div>
                            </div>
                            <div class="row mb-3 mt-4">
                                <div class="col-12 text-right">
                                    <button role="button" class="btn bg-white text-dark border border-dark fs-14 pointer mr-2">
                        <fa-icon [icon]="faEraser" class="text-dark"></fa-icon>
                        Limpiar
                      </button>
                                    <button type="button" class="btn bg-green text-white btn-radius-40 btn-padding fs-14 pointer ml-2">
                        <fa-icon [icon]="faPlusCircle" class="text-white"></fa-icon>
                        Agregar
                      </button>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Registro masivo de dependencias">
                        <div class="container-fluid">
                            <div class="row mt-3">
                                <div class="col 12 text-right">
                                    <p class="text-blue fs-14 d-inline-block mr-2">Para carga masiva descarga la plantilla</p>
                                    <button role="button" class="btn bg-white text-dark border border-dark fs-14 pointer">
                      <fa-icon [icon]="faCloudDownloadAlt" class="text-dark"></fa-icon>
                      Descargar plantilla
                    </button>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <p-fileUpload #fileTemplate name="fileTemplate[]" invalidFileSizeMessageSummary="{0}." invalidFileSizeMessageDetail="Tama&ntilde;o m&aacute;ximo permitido {0}." invalidFileTypeMessageSummary="Formato del archivo no permitido." chooseLabel="Examinar" [showCancelButton]="false"
                                        [showUploadButton]="false" customUpload="true" auto="true" accept=".xlsx"></p-fileUpload>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 text-right">
                                    <button role="button" class="btn bg-white text-dark border border-dark fs-14 pointer mr-2">
                      <fa-icon [icon]="faEraser" class="text-dark"></fa-icon>
                      Limpiar
                    </button>
                                    <button type="button" class="btn bg-green text-white btn-radius-40 btn-padding fs-14 pointer ml-2">
                      <fa-icon [icon]="faPlusCircle" class="text-white"></fa-icon>
                      Guardar
                    </button>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</p-dialog>