<div style="padding: 30px">

    <div style="border-bottom: 1px solid black; padding-bottom: 20px; display: flex; align-items: center;">
        <div>
            <div id="titulo">
                <i class="fa fa-angle-left" [routerLink]="['/bandeja']" routerLinkActive="router-link-active"></i>
                UNIVERSIDAD NACIONAL MAYOR DE SAN MARCOS
            </div>
            <div id="subtitulo">
                Datos actualizados al 03 de febrero de 2020
            </div>
        </div>
        <span class="spacer"></span>
        <div>
            <button (click)="dialogValidacion = !dialogValidacion" class="btn" id="btnVerificacion">
                <i class="fa fa-check"></i>
                Verificación de contenido
            </button>
        </div>
    </div>

    <div>
        <div style="margin: 20px">
            <div
                style="font-size: 18px; border-bottom: 1px solid black; padding-bottom: 10px; color:rgb(2, 68, 135); font-weight: 700;">
                Datos de proveedor
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <div class="tituloItem">Número de RUC</div>
                        <div class="campoItem">20147883952</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tituloItem">Razón Social</div>
                    <div class="campoItem">UNIVERSIDAD NACIONAL MAYOR DE SAN MARCOS</div>
                </div>
                <div class="col-md-6">
                    <div class="tituloItem">Domicilio fiscal</div>
                    <div class="campoItem">Av. Benavides Nro. 5440 cruce con circunvalación , Santiago de Surco, Lima,
                        Lima</div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-1">
                    <div class="tituloItem">Teléfono fijo</div>
                    <div class="campoItem">(01) 2562074</div>
                </div>
                <div class="col-md-1">
                    <div class="tituloItem">Anexo</div>
                    <div class="campoItem">2074, 2354</div>
                </div>
                <div class="col-md-2">
                    <div class="tituloItem">Dirección de página web</div>
                    <div class="campoItem">http://www.umsm.edu.pe</div>
                </div>
                <div class="col-md-6">
                    <div class="tituloItem">Teléfono fijo</div>
                    <div class="campoItem">(01) 2562074</div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div style="margin: 20px ;border-bottom: 1px solid black; display: flex; align-items: flex-end;">
            <div style="font-size: 18px;  padding-bottom: 10px; color:rgb(2, 68, 135); font-weight: 700;">
                Datos de máxima autoridad de la universidad
            </div>
            <span class="spacer"></span>
            <div
                style="display: flex;color: rgb(153, 153, 153); font-size: 12px; justify-content:center; align-items: flex-end; margin-bottom: 5px;">
                <span class="mr-2">Ingrese número de DNI</span>
                <input type="text" style="width: 140px; font-size: 14px; height: 30px;" class="form-control mr-2">
                <div style="display: flex; flex-direction: column;">
                    <span style="font-size: 11px">Reniec</span>
                    <button type="button" class="btn btn-light btnBuscarReniec centradoVertical">
                        <i class="fa fa-search" style="font-size: 16px;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="tituloItem">Cargo</div>
                    <div class="campoItem">Administrador</div>
                </div>
                <div class="col-md-2">
                    <div class="tituloItem">Tipo de doc-identidad</div>
                    <div class="campoItem">DNI</div>
                </div>
                <div class="col-md-2">
                    <div class="tituloItem">N. documento de identidad</div>
                    <div class="campoItem">41997834</div>
                </div>
                <div class="col-md-6">
                    <div class="tituloItem">Nombre(s) y apellidos</div>
                    <div class="campoItem">Mario Alonso Arturo Jimenez Contreras de la Piedra</div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-2">
                    <div class="tituloItem">Teléfono fijo</div>
                    <div class="campoItem">(01) 2562074</div>
                </div>
                <div class="col-md-2">
                    <div class="tituloItem">Anexos</div>
                    <div class="campoItem">234,345</div>
                </div>
                <div class="col-md-2">
                    <div class="tituloItem">Correo electrónico</div>
                    <div class="campoItem">universidad@urp.edu.pe</div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>

    <div>
        <div style="margin: 20px ;border-bottom: 1px solid black; display: flex; align-items: flex-end;">
            <div style="font-size: 18px;  padding-bottom: 10px; color:rgb(2, 68, 135); font-weight: 700;">
                Datos del representante legal
            </div>
            <span class="spacer"></span>
            <div
                style="display: flex;color: rgb(153, 153, 153); font-size: 12px; justify-content:center; align-items: flex-end; margin-bottom: 5px;">
                <span class="mr-2">Ingrese número de DNI</span>
                <input type="text" style="width: 140px; font-size: 14px; height: 30px;" class="form-control mr-2">
                <div style="display: flex; flex-direction: column;">
                    <span style="font-size: 11px">Reniec</span>
                    <button type="button" class="btn btn-light btnBuscarReniec centradoVertical">
                        <i class="fa fa-search" style="font-size: 16px;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="tituloItem">Cargo</div>
                    <div class="campoItem">Administrador</div>
                </div>
                <div class="col-md-2">
                    <div class="tituloItem">Tipo de doc-identidad</div>
                    <div class="campoItem">DNI</div>
                </div>
                <div class="col-md-2">
                    <div class="tituloItem">N. documento de identidad</div>
                    <div class="campoItem">41997834</div>
                </div>
                <div class="col-md-6">
                    <div class="tituloItem">Nombre(s) y apellidos</div>
                    <div class="campoItem">Mario Alonso Arturo Jimenez Contreras de la Piedra</div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-2">
                    <div class="tituloItem">Teléfono fijo </div>
                    <div class="campoItem">(01) 2562074</div>
                </div>
                <div class="col-md-2">
                    <div class="tituloItem">Anexo(s) </div>
                    <div class="campoItem">234, 345</div>
                </div>
                <div class="col-md-2">
                    <div class="tituloItem">Correo electrónico </div>
                    <div class="campoItem">universidad@urp.edu.pe</div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>

    <div class="mt-5 p-3"
        style="border: 1px solid rgba(2, 68, 135, 1); margin-bottom: 80px ; display: flex; justify-content: center; align-items: center; font-size: 16px;">
        <input type="checkbox">
        <span class="ml-2">
            He leído y aceptado los <a (click)="visible = !visible" id="urlLink">términos y condiciones de la politica
                de privacidad</a>
        </span>
        <span class="spacer"></span>
        <button class="btn" style="border: 1px solid #ccc">
            <i class="fa fa-download mr-2"></i>
            <span style="font-size: 14px;">DeclaraciónJurada.pdf</span>
        </button>
    </div>
</div>

<p-dialog [(visible)]="visible" id="modalTerminos" [dismissableMask]="true" modal="true" [draggable]="false"
    [style]="{width: '85%'}">
    <button id="btnCloseModal" (click)="visible = !visible">X</button>

    <div style="color: #024487; font-size: 24px; font-weight: 700; text-align: center;">
        Términos y condiciones del uso del sistema informático Capacita +
    </div>

    <div class="pt-1 pl-3 pr-3 pb-3" style="font-size: 10px;">
        Este acuerdo de "Términos y Condiciones de uso" aplica para hacer uso del Sistema Informático CAPACITA+, el cual
        permite:
        <br> Que los proveedores de capacitación pertenecientes al sector público o privado puedan registrarse en el
        sistema permitiendo crear un directorio de proveedores de capacitación, para que las entidades públicas las
        puedan contactar a efectos
        de solicitar información sobre las capacitaciones que requieran, teniendo en cuenta la especialidad del
        proveedor, su ubicación geográfica, entre otros.
        <br> Que los proveedores de capacitación registren su oferta de capacitación para que sea difundido a las
        entidades públicas con la finalidad de que cuenten con mayores opciones al momento de contratar servicios de
        capacitación.
    </div>

    <div class="p-3" style="font-size: 10px;">
        <b style="color: #024487">1. RESPONSABILIDADES DEL USUARIO: PROVEEDOR DE CAPACITACIÓN </b>
        <br> El proveedor de capacitación tiene tres perfiles en el sistema:
        <br><b>Representante:</b> Máxima autoridad administrativa del proveedor de capacitación (puede ser director de
        escuela o rector de universidad, u otros similares) y tiene como responsabilidad registrar a su institución en
        el sistema informático,
        así como registrar al Administrador.
        <br> <b>Administrador:</b> Responsable de un equipo de diseño y/o implementación de capacitaciones dirigidas a
        servidores civiles, y tiene como responsabilidad la designación de un Delegado y la validación de las
        capacitaciones que este registre
        en el sistema informático.
        <br> <b>Delegado:</b> Persona designada por el Administrador para registrar la información de las capacitaciones
        dirigidas a servidores civiles que ofrece el proveedor de capacitación. <br> Los tres perfiles acceden al
        sistema a través de un usuario
        y contraseña. Es responsabilidad del proveedor de capacitación revisar periódicamente el documento “Términos y
        Condiciones de uso”; ya que el uso del sistema significa que acepta y está de acuerdo con los cambios que se
        hayan podido realizar en
        el documento.
    </div>

    <div class="pt-1 pl-3 pr-3 pb-3" style="font-size: 10px;">
        <b style="color: #024487">2. REGISTRO DE INFORMACIÓN EN EL SISTEMA </b>
        <br> Para utilizar el sistema informático es obligatorio registrarse y proveer cierta información personal
        (nombres completos, DNI, correo electrónico, teléfonos, etc.) que servirá para verificar la veracidad de la
        información consignada. Al aceptar
        los “Términos y Condiciones de uso”, el usuario accede a proveer los datos para el registro y las
        actualizaciones necesarias para mantener actualizado dicho registro. Los datos e información de carácter
        personal proporcionados por el usuario serán
        tratados bajo condiciones de privacidad.
        <br> <br> El usuario acepta que nadie más tenga acceso a su contraseña, siendo el único responsable del manejo
        de la confidencialidad y seguridad de su acceso al sistema. Asimismo, se compromete al uso responsable del
        sistema informático y al
        registro de la información solicitada, haciendo uso de términos académicos vinculados a las capacitaciones que
        se registren. Está prohibido registrar información inconsistente con la solicitada en el sistema informático,
        así como términos ofensivos,
        difamatorios, o similares que afecten la dignidad de las personas.
    </div>

    <div class="pt-1 pl-3 pr-3 pb-3" style="font-size: 10px; ">
        <b style="color: #024487 ">3. ACCESO A PÁGINAS WEB DE OTRAS INSTITUCIONES</b>
        <br> El sistema informático permite visitar las páginas web de los proveedores de capacitación registrados en el
        sistema, a fin de revisar de manera detallada la información de las capacitaciones registradas. En el marco de
        dicha acción, SERVIR
        no es responsable de la información registrada en las páginas web de los proveedores de capacitación, toda vez
        que el sistema informático diseñado por SERVIR tiene como finalidad ser un medio de difusión de las
        capacitaciones dirigidas a servidores
        civiles, más no avala los contenidos de enseñanza.
    </div>

    <div class="pt-1 pl-3 pr-3 pb-3 " style="font-size: 10px; ">
        <b style="color: #024487 ">4. CAUSAL PARA SUSPENDER EL ACCESO AL SISTEMA</b>
        <br> Cualquier violación a los términos y condiciones de uso establecidos en el presente documento, será
        considerada como causal suficiente para que SERVIR suspenda el acceso al sistema al usuario que haya incurrido
        en tal conducta.
    </div>
</p-dialog>

<p-dialog [(visible)]="dialogValidacion" id="dialogValidacion" position="topright" [transitionOptions]="'500ms'"
    [dismissableMask]="true" modal="true" [draggable]="false" [style]="{width: '40wh'}" [baseZIndex]="9999">
    <div class="p-3">
        <div style="font-size: 20px; color: #024487; font-weight: 700;">
            Validación de contenido
        </div>
        <div class="pt-4" style="user-select: none;">
            <p-tabView>
                <p-tabPanel header="Validación de Contenido con entidades Públicas">
                    <div>
                        Marque la casilla si ha realizado la verificación pertinente de los datos del Proveedor con las
                        entidades siguientes:
                        <ul class="pl-4">
                            <li>SUNAT</li>
                            <li>SUNEDU</li>
                            <li>RENIEC</li>
                            <li>OSCE</li>
                        </ul>
                    </div>
                    <div style="display: flex; justify-content: flex-start; align-items: center; "
                        class="mt-3 form-check form-group">
                        <input type="checkbox" class="form-check-label" id="checkboxValidacion"> <label style="margin-bottom: 0;"
                            for="checkboxValidacion" class="ml-3">Se realizo validación de datos</label>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Ingrese Observación">
                    <div style="width: 100% !important">
                        <div style="display: flex; justify-content: center; align-items: baseline;">
                            <div>Mensaje</div>
                            <span class="spacer"></span>
                            <div>
                                <i class="fa fa-info-circle"></i> Máximo 500 caracteres
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; justify-content: flex-end;">
                            <textarea [(ngModel)]="observacion" [rows]="5" [cols]="98" pInputTextarea
                                autoResize="disabled" style="resize: none;"></textarea>
                            <span
                                style="font-size: 12px; color: rgb(70, 70, 70);">{{observacion.length || 0}}/500</span>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <div class="modal-footer" style="background-color: #fafafa; z-index: 9999 !important;">
        <div>
            <button type="button" (click)="dialogValidacion = !dialogValidacion" class="btn btnModalCancelar">
                <i class="fas fa-times mr-2"></i>
                Cancelar
            </button>
            <button class="btn btnModalValidar">
                <i type="button" class="fas fa-paper-plane mr-2"></i>
                Validar
            </button>
        </div>
    </div>
</p-dialog>