#titulo {
    color: #024487;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#titulo>i {
    font-size: 40px;
    font-weight: 700;
    margin: 0px 15px 3px 0px;
    transition: all 0.1s ease-in-out;
}

#titulo>i {
    font-size: 40px;
    font-weight: 700;
    margin: 0px 15px 3px 0px
}

#titulo>i:hover {
    transform: scale(1.2);
    font-weight: 700;
    color: blue;
    cursor: pointer;
    margin: 0px 15px 3px 0px
}

#subtitulo {
    font-weight: 400;
    font-size: 12px;
    color: #024487;
}

#btnVerificacion {
    background-color: rgb(6, 178, 100);
    color: white;
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 100px;
}

.btnBuscarReniec {
    color: #31bcc9;
    border: 1px solid #31bcc9;
    height: 30px;
}

.tituloItem {
    color: #999;
    font-size: 12px;
}

.campoItem {
    font-size: 14px;
}

#urlLink {
    font-style: italic;
    color: #0000FF;
}

#urlLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn:hover {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#btnCloseModal {
    width: 40px;
    height: 40px;
    color: whitesmoke;
    position: absolute !important;
    right: 0;
    top: 0;
    border-radius: 50%;
    border: none;
    background-color: #024487;
    transform: translateX(20px) translateY(-20PX);
    z-index: 99999 !important
}

.btnModalCancelar {
    border: 1px solid black;
    margin-right: 10px;
    font-size: 14px;
}

.btnModalValidar {
    background-color: rgba(6, 178, 100, 1);
    border-radius: 100px;
    font-size: 14px;
    color: white;
}

.btnModalValidar:hover {
    cursor: pointer !important;
    background-color: rgba(0, 153, 0, 1) !important;
}