<mat-toolbar class="mat-elevation-z2 ">

    <div style="display: flex; width: 100%; height: 100%;" class="pl-3 pr-3">
        <button id="btnChange" (click)="cambio()" *ngIf="movilSize.matches">
            <i style="font-size: 18px;margin-right: 5px;" class="fas fa-bars"></i>
        </button>

        <div class="ml-2" style="display: flex; justify-content: center; align-items: center; color: rgb(88, 78, 78); user-select: none;">
            <img src="assets/img/logo.jpg" width="35px" alt="">
        </div>
        <span class="spacer"></span>
        <div style="display: flex; justify-content: right; align-items: center; ">
            <div style="display: flex; justify-content:space-around; flex-direction: column; text-align: right">
                <span style="color: #666666; font-size: 11px">
                    Juan Antonio Contreras Burga
                </span>
                <span style="color: #0066FF; font-size: 12px" class="mt-n3">
                    Administrador
                </span>
            </div>
            <div>
                <img src="assets/img/profile.png" width="52px" class="ml-2">
            </div>
        </div>
    </div>

</mat-toolbar>