<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-4 text-blue">
            <h4 class="fw-600 mb-0">Perfil de Proveedor: {{ proveedor.type }}</h4>
        </div>
    </div>
</div>
<hr class="mt-0 main-horizontal-line">
<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-4 text-blue">
            <h4 class="fs-22 mb-0">{{ proveedor.name }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-blue fs-18 mb-0">Datos de proveedor</p>
            <hr class="main-horizontal-line">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 d-md-flex justify-content-md-start">
            <img src="assets/img/logo-urp.jpg" class="ml-5" width="100" height="100" alt="profile-pic">
            <div class="ml-5">
                <div class="row">
                    <div class="col-12 col-md-2">
                        <p class="text-gray fs-12 mb-2">Número de RUC</p>
                        <p class="fs-14">{{ proveedor.RUC }}</p>
                    </div>
                    <div class="col-12 col-md-5">
                        <p class="text-gray fs-12 mb-2">Razón Social</p>
                        <p class="fs-14">{{ proveedor.legalName }}</p>
                    </div>
                    <div class="col-12 col-md-5">
                        <p class="text-gray fs-12 mb-2">Domicilio fiscal</p>
                        <p class="fs-14">{{ proveedor.address }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2">
                        <p class="text-gray fs-12 mb-2">Teléfono fijo</p>
                        <p class="fs-14">{{ proveedor.phoneNumber }}</p>
                    </div>
                    <div class="col-12 col-md-1">
                        <p class="text-gray fs-12 mb-2">anexo</p>
                        <p class="fs-14">{{ proveedor.extension }}</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="text-gray fs-12 mb-2">Tipo de proveedor</p>
                        <p class="fs-14">{{ proveedor.type }}</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="text-gray fs-12 mb-2">Correo electrónico</p>
                        <p class="fs-14">{{ proveedor.email }}</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="text-gray fs-12 mb-2">Dirección de página web</p>
                        <p class="fs-14">{{ proveedor.webPage }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <p class="text-blue fs-18 mb-0">Datos de máxima autoridad</p>
            <hr class="main-horizontal-line">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-2">
            <p class="text-gray fs-12 mb-2">Tipo doc. identidad</p>
            <p class="fs-14">{{ representante.documentType }}</p>
        </div>
        <div class="col-12 col-md-2">
            <p class="text-gray fs-12 mb-2">N° doc. identidad</p>
            <p class="fs-14">{{ representante.documentNumber }}</p>
        </div>
        <div class="col-12 col-md-4">
            <p class="text-gray fs-12 mb-2">Nombres y apellidos</p>
            <p class="fs-14">{{ representante.names }}</p>
        </div>
        <div class="col-12 col-md-2">
            <p class="text-gray fs-12 mb-2">Teléfono</p>
            <p class="fs-14">{{ representante.phoneNumber }}</p>
        </div>
        <div class="col-12 col-md-2">
            <p class="text-gray fs-12 mb-2">anexo</p>
            <p class="fs-14">{{ representante.extension }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-gray fs-12 mb-2">Correo electrónico</p>
            <p class="fs-14">{{ representante.email }}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <p class="text-blue fs-18 mb-0">Datos del encargado del registro</p>
            <hr class="main-horizontal-line">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-2">
            <p class="text-gray fs-12 mb-2">Tipo doc. identidad</p>
            <p class="fs-14">{{ encargado.documentType }}</p>
        </div>
        <div class="col-12 col-md-2">
            <p class="text-gray fs-12 mb-2">N° doc. identidad</p>
            <p class="fs-14">{{ encargado.documentNumber }}</p>
        </div>
        <div class="col-12 col-md-4">
            <p class="text-gray fs-12 mb-2">Nombres y apellidos</p>
            <p class="fs-14">{{ encargado.names }}</p>
        </div>
        <div class="col-12 col-md-4">
            <p class="text-gray fs-12 mb-2">Correo electrónico</p>
            <p class="fs-14">{{ encargado.email }}</p>
        </div>
    </div>
    <div class="row mt-4 mb-5">
        <div class="col-12">
            <div class="info-box">
                <div class="form-check d-inline-block">
                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..." checked>
                </div>
                <p class="d-inline-block mb-0">He leído y aceptado los
                    <a class="underline-text-style" href="https://canvia.com/" target="_blank">
                        Términos y condiciones de la política de privacidad
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>