<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [style]="{ width: '500px', minWidth: '400px' }" (onHide)="closeLoginPasswordChangeModal()">
    <p-header>
        <div class="col-6 text-left">
            <img id="u52_img" class="logoServir" src="assets/img/login/logoServir.png" />
        </div>
    </p-header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <img src="assets/images/logo.png" width="60" height="30" alt="logo" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h5 class="fs-22 text-blue">Actualiza tu Contraseña</h5>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <p class="fs-12 text-gray">Ingresa tus datos</p>
                <form [formGroup]="registerForm" (ngSubmit)="loginUser()">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <fa-icon [icon]="faUser" class="text-blue icon-top-5"></fa-icon>
                        </div>
                        <input type="text" id="dni" placeholder="DNI" formControlName="dni" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }" />
                        <div *ngIf="submitted && f.dni.errors" class="invalid-feedback">
                            <div *ngIf="f.dni.errors?.required">
                                El DNI es requerido
                            </div>
                            <div *ngIf="f.dni.errors?.pattern">
                                DNI debe de ser de 8 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <fa-icon [icon]="faUnlock" class="text-blue icon-top-5"></fa-icon>
                        </div>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" minlength="6" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors?.required">
                                El password es requerido
                            </div>
                            <div *ngIf="f.password.errors.mustMatch">
                                Passwords must match
                            </div>
                            <div *ngIf="f.password.errors.minlength">
                                Password debe de ser de 6 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <fa-icon [icon]="faUnlock" class="text-blue icon-top-5"></fa-icon>
                        </div>
                        <input type="password" formControlName="confirmPassword" class="form-control input-login" id="confirmPassword" placeholder="Nueva contraseña" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors?.required">
                                La confirmación del password es requerido
                            </div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">
                                el password debe de coincidir
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn bg-green text-white fs-14 btn-radius-50 w-100 my-3">
            ACTUALIZAR CONTRASEÑA
          </button>
                    <div class="row my-3">
                        <div class="col-12 text-center">
                            <p class="text-blue fs-12 underline-text-style pointer">Omitit</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <p class="text-gray fs-12">
                                Nota: recuerda que tu contraseña inicial caduca al séptimo día de iniciar sesión.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</p-dialog>