/* LOGIN */
.input-login {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-color: #024487;
  padding-left: 1.2rem;
}

.input-icon {
  background-color: #fff;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
}

.logoServir{
  height: 25px;
  float: left;
}

