<mat-sidenav-container class="example-container" [hasBackdrop]="mobileQuery.matches ? 'true' : 'false'" autosize>

    <mat-sidenav #sidenav [fixedInViewport]="true" [opened]="mobileQuery.matches ? false : true" [mode]="mobileQuery.matches ? 'over' : 'side'">
        <app-sidenav [movilSize]="mobileQuery"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
        <div [ngClass]="{'contenido-movil': mobileQuery.matches , 'contenido': !mobileQuery.matches}">
            <app-header [movilSize]="mobileQuery" class="example-header"></app-header>
            <div style="padding: 20px;">
                <router-outlet></router-outlet>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div id="footer">
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>