.example-header {
  top: 0;
  left: 0;
  right: 0;
  height: 64px !important;
  z-index: 3 !important;
}

.example-container {
  width: 100%;
  min-height: calc(100vh - 64px);
}

.contenido {
  min-height: calc(100vh - 1px - 40px);
}

.contenido-movil {
  min-height: calc(100vh - 1px - 40px);
}

#footer {
  height: 40px;
}

.mat-sidenav {
  background-color: #06b264;
  border: 0px !important;
  z-index: 1 !important;
}
