.documento {
  display: flex;
}

label{
  font-size: 13px !important;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 66px;
  background-color: rgba(6, 178, 100, 1);
  display: flex;
  flex-direction: column;
  & > img {
    text-align: center;
  }
}

.contenido{
  padding: 10px 30px 10px 30px;

}

.cuerpo {
  width: 100%;
}

.header {
  height: 70px;
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}

.fotoPreliminar {
  border-width: 0px;
  width: 80%;
  height: 136px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(242, 242, 242, 1);
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Arial Normal", "Arial";
  font-weight: 400;
  font-style: normal;
  color: #999999;
  font-size: small;
}

.textImput {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: normal;
  color: #000000;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

.logoServir {
  height: 25px;
  float: left;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
