<div class="documento">

    <div class="sidebar">
        <div style="flex: 1"></div>
        <div style="display: flex; justify-content: center; text-align: center;">
            <img src="assets/img/logo_canvia_corto.png" width="50px">
        </div>
        <div style="height: 8vh;"></div>
    </div>

    <div class="cuerpo">

        <div class="header mat-elevation-z3">
            <img src="assets/img/logo_capacita_mas.png" width="100px">
            <span class="spacer"></span>
        </div>

        <div class="contenido">
            <div class="container-fluid">
                <form [formGroup]="registerForm">
                    <div class="row">
                        <div class="col-6 my-4 text-blue">
                            <h4 style="font-weight:700; font-size: 24p;">REGISTRO DE PROVEEDORES</h4>
                        </div>
                        <div class="col-6 my-4 text-blue">
                            <div class="row">
                                <div class="col-6">
                                    <h6>
                                        Descarga la plantilla de la declaración jurada de veracidad de datos
                                    </h6>
                                </div>
                                <div class="col-6 text-center">
                                    <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                                        <i class="fa fa-download" aria-hidden="true"></i> Descargar
                                        Plantilla
                                    </button>
                                    <button type="button" class="btn btn-outline-success btn-sm">
                                        <i class="fa fa-search" aria-hidden="true"></i> Examinar
                                    </button>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-6 text-right">
                                    <button type="button" (click)="desahabilitarCampoSunat()"
                                        class="btn bg-green text-white btn-radius-40 btn-padding fs-14 pointer ml-2">
                                        <i class="fa fa-location-arrow"></i>
                                        Deshabilitad Registro
                                    </button>
                                    <br>
                                    <button type="button" (click)="habilitarCampoSunat()"
                                        class="btn bg-green text-white btn-radius-40 btn-padding fs-14 pointer ml-2">
                                        <i class="fa fa-location-arrow"></i>
                                        habilitad
                                    </button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5 class="my-4 text-blue">Datos del proveedor</h5>
                        </div>
                    </div>
                    <hr class="text-blue mt-0 main-horizontal-line" />
                    <div class="row">
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <label for="file-upload" class="btn btn-outline-secondary btn-sm" style="width: 80%;">
                                <i class="fas fa-upload"></i> Subir logotipo
                            </label>
                            <input id="file-upload" type="file" (change)="fileProgress($event)" />
                            <div>
                                <div *ngIf="fileUploadProgress">
                                    Subir Imagen: {{ fileUploadProgress }}
                                </div>
                                <div class="image-preview mb-3" *ngIf="previewUrl">
                                    <img [src]="previewUrl" style="width: 210px;height: 210px;" />
                                </div>
                                <div class="mb-3" *ngIf="uploadedFilePath">
                                    {{ uploadedFilePath }}
                                </div>
                                <div class="fotoPreliminar" *ngIf="!previewUrl">
                                    formatos permitidos JPG y PNG, tamaño 180 x 180 hasta 500mb
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-6 col-sm-12">
                            <p-panel header="Title">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Razón social</label>
                                            <input type="text" name="provRazonSocial" formControlName="provRazonSocial"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.provRazonSocial.errors }" />
                                            <div *ngIf="submitted && f.provRazonSocial.errors" class="invalid-feedback">
                                                <div *ngIf="f.provRazonSocial.errors?.required">
                                                    La razón social es requerida
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="provDirecion">Dirección</label>
                                            <input type="text" class="form-control" formControlName="provDirecion"
                                                id="provDirecion"
                                                [ngClass]="{ 'is-invalid': submitted && f.provDirecion.errors }"
                                                aria-describedby=" text" placeholder="" />
                                            <div *ngIf="submitted && f.provDirecion.errors" class="invalid-feedback">
                                                <div *ngIf="f.provDirecion.errors?.required">
                                                    La dirección es requerida
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="departamento">Departamento</label>
                                            <select formControlName="provDepartamento"
                                                class="form-control custom-select"
                                                [ngClass]="{ 'is-invalid': submitted && f.provDepartamento.errors }"
                                                (change)=" getProvinciaByDepartamento($event)">
                                                <option value="-1" disabled selected valued>Seleccione</option>
                                                <option *ngFor="let item of lstDepartamento" value="{{ item.id }}">
                                                    {{ item.descripcion }}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.provDepartamento.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.provDepartamento.errors?.required">
                                                    El departamento es requerido
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="provProvincia">Provincia</label>
                                            <select formControlName="provProvincia" [disabled]="disabledSunat"
                                                class="form-control custom-select"
                                                [ngClass]="{ 'is-invalid': submitted && f.provProvincia.errors }"
                                                (change)=" getDistritoByProvincia($event)">
                                                <option value="-1" disabled selected valued>Seleccione</option>
                                                <option *ngFor="let item of lstProvincia" value="{{ item.id }}">
                                                    {{ item.descripcion }}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.provProvincia.errors" class="invalid-feedback">
                                                <div *ngIf="f.provProvincia.errors?.required">
                                                    La provincia es requerida
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="provDistrito">Distrito</label>
                                            <select formControlName="provDistrito" [disabled]="disabledSunat"
                                                [ngClass]="{ 'is-invalid': submitted && f.provDistrito.errors }"
                                                class="form-control custom-select">
                                                <option value="-1" disabled selected valued>Seleccione</option>
                                                <option *ngFor="let item of lstDistrito" value="{{ item.id }}">
                                                    {{ item.descripcion }}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.provDistrito.errors" class="invalid-feedback">
                                                <div *ngIf="f.provDistrito.errors?.required">
                                                    El distrito es requerido
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="provTipoProveedor">Tipo de proveedores</label>
                                            <select formControlName="provTipoProveedor" [disabled]="disabledSunat"
                                                [ngClass]="{ 'is-invalid': submitted && f.provTipoProveedor.errors }"
                                                class="form-control custom-select">
                                                <option value="-1" disabled selected valued>Seleccione</option>
                                                <option *ngFor="let item of lstTipoProveedor" value="{{ item.id }}">
                                                    {{ item.descripcion }}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f.provTipoProveedor.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.provTipoProveedor.errors?.required">
                                                    El Tipo proveedor es requerido
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="provTelefono">Teléfono</label>
                                            <input type="text" formControlName="provTelefono" [disabled]="disabledSunat"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.provTelefono.errors }"
                                                id="provTelefono" aria-describedby="text" placeholder="" />
                                            <div *ngIf="submitted && f.provTelefono.errors" class="invalid-feedback">
                                                <div *ngIf="f.provTelefono.errors?.required">
                                                    El teléfono es requerido
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="provAnexo">anexo</label>
                                            <input type="text" formControlName="provAnexo"
                                                [ngClass]="{ 'is-invalid': submitted && f.provTelefono.errors }"
                                                class="form-control" id="provAnexo" aria-describedby="text"
                                                placeholder="" />
                                            <div *ngIf="submitted && f.provAnexo.errors" class="invalid-feedback">
                                                <div *ngIf="f.provAnexo.errors?.required">
                                                    El anexo es requerido
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="provPaginaWeb">Dirección de página web</label>
                                            <input type="text" formControlName="provPaginaWeb"
                                                [ngClass]="{ 'is-invalid': submitted && f.provTelefono.errors }"
                                                class="form-control" id="provPaginaWeb" aria-describedby="text"
                                                placeholder="" />
                                            <div *ngIf="submitted && f.provPaginaWeb.errors" class="invalid-feedback">
                                                <div *ngIf="f.provPaginaWeb.errors?.required">
                                                    La Página es requerida
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </p-panel>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <h5 class="my-4 text-blue">Datos de máxima autoridad del proveedor</h5>
                        </div>
                    </div>
                    <hr class="text-blue mt-0 main-horizontal-line" />
                    <!-- <div [formGroup]="registerForm.get('maxAutoridad')"> -->
                    <div formGroupName="maxAutoridad">
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="cargo">Cargo</label>
                                    <select formControlName="cargo"
                                        [ngClass]="{ 'is-invalid': submitted && maxAutoridad.cargo?.errors?.required }"
                                        class="form-control custom-select">
                                        <option value="-1" disabled selected valued>Seleccione</option>
                                        <option *ngFor="let item of lstTipoCargo" value="{{ item.id }}">
                                            {{ item.descripcion }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && maxAutoridad.cargo?.errors" class="invalid-feedback">
                                        <div *ngIf="maxAutoridad.cargo?.errors?.required">
                                            El cargo es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="maxTipoDoc">Tipo Documento</label>
                                    <select formControlName="tipoDoc"
                                        [ngClass]="{ 'is-invalid': submitted && maxAutoridad.tipoDoc?.errors }"
                                        class="form-control custom-select">
                                        <option value="-1" disabled selected valued>Seleccione</option>
                                        <option *ngFor="let item of lstTipoDoc" value="{{ item.id }}">
                                            {{ item.descripcion }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && maxAutoridad.tipoDoc?.errors" class="invalid-feedback">
                                        <div *ngIf="maxAutoridad.tipoDoc.errors?.required">
                                            Tipo de documento es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="maxDocumento">Documento</label>
                                    <input type="text" formControlName="documento"
                                        [ngClass]="{ 'is-invalid': submitted && maxAutoridad.documento?.errors }"
                                        class="form-control" id="maxDocumento" aria-describedby="text" placeholder="" />
                                    <div *ngIf="submitted && maxAutoridad.documento?.errors" class="invalid-feedback">
                                        <div *ngIf="maxAutoridad.documento.errors?.required">
                                            El documento es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="maxApellido">Apellidos</label>
                                    <input type="text" formControlName="apellidos"
                                        [ngClass]="{ 'is-invalid': submitted && maxAutoridad.apellidos?.errors }"
                                        class="form-control" id="maxApellido" aria-describedby="text" placeholder="" />
                                    <div *ngIf="submitted && maxAutoridad.apellidos?.errors" class="invalid-feedback">
                                        <div *ngIf="maxAutoridad.apellidos.errors?.required">
                                            El apellido es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="maxNombres">Nombres</label>
                                    <input type="text" formControlName="nombres"
                                        [ngClass]="{ 'is-invalid': submitted && maxAutoridad.nombres?.errors }"
                                        class="form-control" class="form-control" id="nombres" aria-describedby="text"
                                        placeholder="" />
                                    <div *ngIf="submitted && maxAutoridad.nombres?.errors" class="invalid-feedback">
                                        <div *ngIf="maxAutoridad.nombres.errors?.required">
                                            El nombre es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="maxTelefono">Teléfono</label>
                                    <input type="text" formControlName="telefono"
                                        [ngClass]="{ 'is-invalid': submitted && maxAutoridad.telefono?.errors }"
                                        class="form-control" class="form-control" id="telefono" aria-describedby="text"
                                        placeholder="" />
                                    <div *ngIf="submitted && maxAutoridad.telefono?.errors" class="invalid-feedback">
                                        <div *ngIf="maxAutoridad.telefono.errors?.required">
                                            El teléfono es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="maxAnexo">Anexo</label>
                                    <input type="text" formControlName="anexo"
                                        [ngClass]="{ 'is-invalid': submitted && maxAutoridad.anexo?.errors }"
                                        class="form-control" class="form-control" id="anexo" aria-describedby="text"
                                        placeholder="" />
                                    <div *ngIf="submitted && maxAutoridad.anexo?.errors" class="invalid-feedback">
                                        <div *ngIf="maxAutoridad.anexo.errors?.required">
                                            El anexo es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="maxEmail">Corre Electronico</label>
                                    <input type="text" formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && maxAutoridad.email?.errors }"
                                        class="form-control" class="form-control" id="email" aria-describedby="text"
                                        placeholder="" />
                                    <div *ngIf="submitted && maxAutoridad.email?.errors" class="invalid-feedback">
                                        <div *ngIf="maxAutoridad.email.errors?.required">
                                            El email es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="row">
                        <div class="col-6">
                            <h5 class="my-4 text-blue">Datos del representante</h5>
                        </div>
                    </div>
                    <hr class="text-blue mt-0 main-horizontal-line" />
                    <div formGroupName="representante">
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="repreCargo">Cargo</label>
                                    <select formControlName="cargo"
                                        [ngClass]="{ 'is-invalid': submitted && representante.cargo?.errors }"
                                        class="form-control custom-select">
                                        <option value="-1" disabled selected valued>Seleccione</option>
                                        <option *ngFor="let item of lstTipoCargo" value="{{ item.id }}">
                                            {{ item.descripcion }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && representante.cargo?.errors" class="invalid-feedback">
                                        <div *ngIf="representante.cargo.errors?.required">
                                            El cargo es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="repreTipoDoc">Tipo Documento</label>
                                    <select formControlName="tipoDoc"
                                        [ngClass]="{ 'is-invalid': submitted && representante.tipoDoc?.errors }"
                                        class="form-control custom-select">
                                        <option value="-1" disabled selected valued>Seleccione</option>
                                        <option *ngFor="let item of lstTipoDoc" value="{{ item.id }}">
                                            {{ item.descripcion }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && representante.tipoDoc?.errors" class="invalid-feedback">
                                        <div *ngIf="representante.tipoDoc.errors?.required">
                                            El tipo documento es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="repreDocumento">Documento</label>
                                    <input type="text" formControlName="documento"
                                        [ngClass]="{ 'is-invalid': submitted && representante.documento?.errors }"
                                        class="form-control" id="documento2" aria-describedby="text" placeholder="" />
                                    <div *ngIf="submitted && representante.documento?.errors" class="invalid-feedback">
                                        <div *ngIf="representante.documento.errors?.required">
                                            El documento es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="repreApellido">Apellidos</label>
                                    <input type="text" formControlName="apellidos"
                                        [ngClass]="{ 'is-invalid': submitted && representante.apellidos?.errors }"
                                        class="form-control" id="apellidos2" aria-describedby="text" placeholder="" />
                                    <div *ngIf="submitted && representante.apellidos?.errors" class="invalid-feedback">
                                        <div *ngIf="representante.apellidos.errors?.required">
                                            El apellido es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="repreNombres">Nombres</label>
                                    <input type="text" formControlName="nombres"
                                        [ngClass]="{ 'is-invalid': submitted && representante.nombres?.errors }"
                                        class="form-control" id="nombres2" aria-describedby="text" placeholder="" />
                                    <div *ngIf="submitted && representante.nombres?.errors" class="invalid-feedback">
                                        <div *ngIf="representante.nombres.errors?.required">
                                            El nombre es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="repreTelefono">Teléfono</label>
                                    <input type="text" formControlName="telefono"
                                        [ngClass]="{ 'is-invalid': submitted && representante.telefono?.errors }"
                                        class="form-control" id="repreTelefono" aria-describedby="text"
                                        placeholder="" />
                                    <div *ngIf="submitted && representante.telefono?.errors" class="invalid-feedback">
                                        <div *ngIf="representante.telefono.errors?.required">
                                            El teléfono es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="repreAnexo">Anexo</label>
                                    <input type="text" formControlName="anexo"
                                        [ngClass]="{ 'is-invalid': submitted && representante.anexo?.errors }"
                                        class="form-control" id="anexo" aria-describedby="text" placeholder="" />
                                    <div *ngIf="submitted && representante.anexo?.errors" class="invalid-feedback">
                                        <div *ngIf="representante.anexo.errors?.required">
                                            El anexo es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="repreEmail">Corre Electronico</label>
                                    <input type="text" formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && representante.email?.errors }"
                                        class="form-control" id="email" aria-describedby="text" placeholder="" />
                                    <div *ngIf="submitted && representante.email?.errors" class="invalid-feedback">
                                        <div *ngIf="representante.email.errors?.required">
                                            El email es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="ui-g-12 border border-success text-center">

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" value="checked"
                                        [ngClass]="{ 'is-invalid': submitted && f.provAceptarTemino?.errors }"
                                        formControlName="provAceptarTemino" (click)="openModal()"
                                        class="custom-control-input" id="provAceptarTemino" />
                                    <div *ngIf="submitted && f.provAceptarTemino?.errors" class="invalid-feedback">
                                        <div *ngIf="f.provAceptarTemino.errors?.required">
                                            debe de aceptar los terminos
                                        </div>
                                    </div>
                                    <label class="custom-control-label" for="defaultUnchecked">ACEPTAR TERMINOS Y
                                        CONDICIONES</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col-4">
                            <div>
                                <img src="../../../../assets/images/captcha.png" alt="captcha"
                                    style="width: 200px;height: 50px;" />
                                <button role="button" class="btn bg-white text-dark">
                                    <i class="fa fa-repeat"></i>
                                </button>
                                <div class="form-group" style="float:right;">
                                    <input type="text" class="form-control" id="captcha" aria-describedby="text"
                                        placeholder="Ingrese captcha" />
                                </div>
                            </div>
                        </div>
                        <div class="col-8 text-right">
                            <button role="button" class="btn bg-white text-dark border border-dark fs-14 pointer mr-2">
                                <i class="fa fa-eraser"></i> Limpiar
                            </button>
                            <button type="button" (click)="saveSuppliers()"
                                class="btn bg-green text-white btn-radius-40 btn-padding fs-14 pointer ml-2">
                                <i class="fa fa-location-arrow"></i>
                                Solicitar Registro
                            </button>
                        </div>
                    </div>


                    <!-- <button type="submit" (click)="saveSuppliers()"
                    class="btn bg-green text-white btn-radius-40 btn-padding fs-14 pointer ml-2">
                    <i class="fa fa-location-arrow"></i>
                    Solicitar Registro
                  </button> -->
                </form>
            </div>



            <p-dialog [(visible)]="displayModal" [modal]="true" [responsive]="true" [showHeader]="true"
                [style]="{ maxWidth: '800px' }">
                <p-header>
                    <div class="col-6 text-left">
                        <img id="u52_img" class="logoServir" src="../../../../../assets/images/login/logoServir.png" />
                    </div>
                </p-header>
                <div class="container-fluid">
                    <div class="col-12 d-flex justify-content-between">
                        <h5 class="fs-22 text-blue">
                            Términos y condiciones del uso del sistema informático Capacita +
                        </h5>
                        <img src="./assets/images/logo.png" width="60" height="30" alt="logo" />
                    </div>
                </div>
                <div class="row mt-5" class="d-flex justify-content-center">
                    <div class="col-12">
                        Este acuerdo de "Términos y Condiciones de uso" aplica para hacer uso del
                        Sistema Informático CAPACITA+, el cual permite: Que los proveedores de
                        capacitación pertenecientes al sector público o privado puedan registrarse
                        en el sistema permitiendo crear un directorio de proveedores de
                        capacitación, para que las entidades públicas las puedan contactar a
                        efectos de solicitar información sobre las capacitaciones que requieran,
                        teniendo en cuenta la especialidad del proveedor, su ubicación geográfica,
                        entre otros. Que los proveedores de capacitación registren su oferta de
                        capacitación para que sea difundido a las entidades públicas con la
                        finalidad de que cuenten con mayores opciones al momento de contratar
                        servicios de capacitación.
                        <br />
                        <span style="font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';font-weight:700;color:#024487;">
                            1. RESPONSABILIDADES DEL USUARIO: PROVEEDOR DE CAPACITACIÓN
                        </span>
                        <br />
                        El proveedor de capacitación tiene tres perfiles en el sistema:
                        Representante: Máxima autoridad administrativa del proveedor de
                        capacitación (puede ser director de escuela o rector de universidad, u
                        otros similares) y tiene como responsabilidad registrar a su institución
                        en el sistema informático, así como registrar al Administrador.
                        Administrador: Responsable de un equipo de diseño y/o implementación de
                        capacitaciones dirigidas a servidores civiles, y tiene como
                        responsabilidad la designación de un Delegado y la validación de las
                        capacitaciones que este registre en el sistema informático. Delegado:
                        Persona designada por el Administrador para registrar la información de
                        las capacitaciones dirigidas a servidores civiles que ofrece el proveedor
                        de capacitación. Los tres perfiles acceden al sistema a través de un
                        usuario y contraseña. Es responsabilidad del proveedor de capacitación
                        revisar periódicamente el documento “Términos y Condiciones de uso”; ya
                        que el uso del sistema significa que acepta y está de acuerdo con los
                        cambios que se hayan podido realizar en el documento.
                        <br />
                        <span
                            style="font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';font-weight:700;color:#024487;">2.
                            REGISTRO DE
                            INFORMACIÓN EN EL SISTEMA</span>
                        <br />
                        Para utilizar el sistema informático es obligatorio registrarse y proveer
                        cierta información personal (nombres completos, DNI, correo electrónico,
                        teléfonos, etc.) que servirá para verificar la veracidad de la información
                        consignada. Al aceptar los “Términos y Condiciones de uso”, el usuario
                        accede a proveer los datos para el registro y las actualizaciones
                        necesarias para mantener actualizado dicho registro. Los datos e
                        información de carácter personal proporcionados por el usuario serán
                        tratados bajo condiciones de privacidad. El usuario acepta que nadie más
                        tenga acceso a su contraseña, siendo el único responsable del manejo de la
                        confidencialidad y seguridad de su acceso al sistema. Asimismo, se
                        compromete al uso responsable del sistema informático y al registro de la
                        información solicitada, haciendo uso de términos académicos vinculados a
                        las capacitaciones que se registren. Está prohibido registrar información
                        inconsistente con la solicitada en el sistema informático, así como
                        términos ofensivos, difamatorios, o similares que afecten la dignidad de
                        las personas.
                        <br />
                        <span style="font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';font-weight:700;color:#024487;">
                            3. ACCESO A PÁGINAS WEB DE OTRAS INSTITUCIONES
                        </span>
                        <br />
                        El sistema informático permite visitar las páginas web de los proveedores
                        de capacitación registrados en el sistema, a fin de revisar de manera
                        detallada la información de las capacitaciones registradas. En el marco de
                        dicha acción, SERVIR no es responsable de la información registrada en las
                        páginas web de los proveedores de capacitación, toda vez que el sistema
                        informático diseñado por SERVIR tiene como finalidad ser un medio de
                        difusión de las capacitaciones dirigidas a servidores civiles, más no
                        avala los contenidos de enseñanza.
                        <br />
                        <span style="font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';font-weight:700;color:#024487;">
                            4. CAUSAL PARA SUSPENDER EL ACCESO AL SISTEMA </span><br />
                        Cualquier violación a los términos y condiciones de uso establecidos en el
                        presente documento, será considerada como causal suficiente para que
                        SERVIR suspenda el acceso al sistema al usuario que haya incurrido en tal
                        conducta.
                    </div>
                </div>

                <p-footer>
                    <div class="text-center">
                        <div>
                            <button type="button" (click)="aceptarTermino()" class="btn btn-outline-primary btn-sm">
                                Aceptar
                            </button>
                            <button type="button" (click)="cancelarTermino()" class="btn btn-outline-secondary btn-sm">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </p-footer>
            </p-dialog>
        </div>


    </div>

</div>