<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [showHeader]="true" [style]="{ minWidth: '400px' }" (onHide)="closeLoginEntranceModal()">
    <p-header>
        <div class="col-6 text-left">
            <img id="u52_img" class="logoServir" src="assets/img/login/logoServir.png" />
        </div>
    </p-header>
    <div class="container-fluid">
        <div class="col-12 d-flex justify-content-between">
            <h5 class="fs-22 text-blue">RECUPERAR CONTRASEÑA</h5>
            <img src="assets/img/logo.png" width="60" height="30" alt="logo" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <p class="fs-12 text-gray">Ingresa tus datos</p>
            <form [formGroup]="registerForm" (ngSubmit)="forgotPassword()">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <fa-icon [icon]="faUser" class="text-blue icon-top-5"></fa-icon>
                    </div>
                    <input type="text" class="form-control input-login" id="userEmail" placeholder="INGRESE EMAIL REGISTRADO" formControlName="userEmail" [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }" />
                    <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
                        <div *ngIf="f.userEmail.errors?.required">Email is required</div>
                        <div *ngIf="f.userEmail.errors?.email">
                            El Email debe ser una dirección de correo válida
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn bg-green text-white fs-14 btn-radius-50 w-100 my-3">
          RECUPERAR CONTRASEÑA
        </button>
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-gray fs-12">
                            Si aún no tienes una cuenta registrate como
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-around">
                        <p class="text-blue fs-10 underline-text-style pointer">
                            proveedor de capacitaciones
                        </p>
                        <p class="text-blue fs-10 underline-text-style pointer">
                            oficina de recursos humanos
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-dialog>