<mat-card>
    <div style="text-align:center; margin-top: 100px; ">
        <mat-card style="margin-top:10px; width: 50%;">
            <mat-card-content>
                <ul>
                    <li *ngFor="let file of files">
                        <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                        <span id="file-label">

                        </span>
                    </li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="warn" (click)="onClick()">
                    <mat-icon>file_upload</mat-icon>
                    Upload
                </button>
            </mat-card-actions>
        </mat-card>

        <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*"
            style="display:visible;" />
    </div>

</mat-card>