<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Oops! Pagina no encontrada</h3>
            <h1>
                <span>4</span>
                <span>0</span>
                <span>4</span>
            </h1>
        </div>
        <h2>Lo sentimos, pero la página solicitada no se encuentra en nuestros servidores</h2>
    </div>
</div>