<p-dialog [(visible)]="display" [dismissableMask]="true" [modal]="true" [responsive]="true" [showHeader]="true" [style]="{ minWidth: '400px' }" (onHide)="closeLoginEntranceModal()">
    <p-header>
        <div class="col-6 text-left">
            <img id="u52_img" class="logoServir" src="assets/img/login/logoServir.png" />
        </div>
    </p-header>
    <div class="container-fluid ">
        <div class="col-12 d-flex justify-content-between">
            <h5 class="fs-50 text-blue">Bienvenido al Sistema</h5>
            <img src="assets/img/logo.png" width="60" height="30" alt="logo" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <p class="fs-12 text-gray">Ingresa tus datos</p>
            <form (ngSubmit)="validarLogin()">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <fa-icon [icon]="faUser" class="text-blue icon-top-5"></fa-icon>
                    </div>
                    <input type="email" class="form-control input-login" id="exampleInputEmail1" placeholder="DNI" aria-describedby="emailHelp" [(ngModel)]="usuario.username" name="username" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <fa-icon [icon]="faUnlock" class="text-blue icon-top-5"></fa-icon>
                    </div>
                    <input type="password" class="form-control input-login" id="exampleInputPassword1" placeholder="Contraseña" [(ngModel)]="usuario.password" name="password" />
                </div>
                <button type="submit" class="btn bg-green text-white fs-14 btn-radius-50 w-100 my-3">
          Iniciar sesión
        </button>
                <div class="row my-3">
                    <div class="col-12 text-center">
                        <a class="text-blue fs-12 underline-text-style pointer" routerLink="/recuperarpassword">
              Olvidé mi contraseña
            </a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-gray fs-12">
                            Si aún no tienes una cuenta registrate como
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-around">
                        <p class="text-blue fs-10 underline-text-style pointer">
                            proveedor de capacitaciones
                        </p>
                        <p class="text-blue fs-10 underline-text-style pointer">
                            oficina de recursos humanos
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-dialog>