* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: rgba(251, 251, 251, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  text-decoration: none;
  color: #000;
}

/* GENERALES*/

.pointer {
  cursor: pointer;
}

.icon-top-5 {
  left: 13px;
  position: relative;
  top: 6px;
  z-index: 10000;
}

.text-blue {
  color: #024487;
}

.text-gray {
  color: #999999;
}

.text-dark-gray {
  color: #666666;
}

.text-green {
  color: #06b264;
}

.bg-green {
  background-color: #06b264;
}

.underline-text-style {
  text-decoration-line: underline;
}

.header-shadow {
  box-shadow: 4px 2px 5px -2px #caddec;
}

.input-search {
  border-left: 0;
}

.icon-search {
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  z-index: 1;
}

.corner-radius-6 {
  border-radius: 6px;
}

.main-horizontal-line {
  border-color: #024487;
}

.info-box {
  border: solid 1px #024487;
  padding: 20px;
}

/* Font sizes */

.fs-36 {
  font-size: 2.25rem;
}

.fs-34 {
  font-size: 2.125rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-10 {
  font-size: 0.625rem;
}

.fs-8 {
  font-size: 0.5rem;
}

/* Font weight */

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

/* Botones */

.btn-radius-40 {
  border-radius: 40px;
}

.btn-radius-50 {
  border-radius: 50px;
}

.btn-padding {
  padding: 8px 20px;
}

/* poniendo estilos al placeholder de los input */

input::placeholder {
  color: #cccccc;
  font-size: 10px;
}

::-webkit-input-placeholder {
  font-size: 10px;
}

:-moz-placeholder {
  font-size: 10px;
}

::-moz-placeholder {
  font-size: 10px;
}

:-ms-input-placeholder {
  font-size: 10px;
}

.table-filter::placeholder {
  color: #cccccc;
}

textarea::placeholder {
  font-size: 10px;
}

.form-control::placeholder {
  color: #cccccc;
  font-size: 10px;
}

/* PRIMENG */

/* Paginator */

body .ui-paginator {
  background-color: #fff;
  border: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: left;
}

.ui-paginator-icon {
  color: #cccccc;
}

.ui-paginator-page.ui-state-active {
  background-color: #024487;
}

.ui-paginator .ui-paginator-pages .ui-paginator-page {
  min-width: 3.5em !important;
}

/* Table */

body .ui-table .ui-table-tbody > tr.ui-state-highlight:nth-child(2n),
body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: #fff;
  color: #024487;
  box-shadow: 4px 2px 5px -2px #caddec;
}

/* Modales */

body .ui-dialog .ui-dialog-titlebar {
  background-color: #fff;
}

.ui-dialog-title {
  color: #024487;
  font-size: 18px;
  font-weight: 600;
}

.ui-dialog .ui-dialog-content {
  overflow-x: hidden;
}

body .ui-dialog .ui-dialog-content {
  padding: 3rem 1.5rem;
}

/* Tabview */

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active {
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #024487;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li {
  background-color: #fff;
  border: none;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a,
body .ui-tabview.ui-tabview-top .ui-tabview-nav li a {
  color: #000;
}

body .ui-tabview .ui-tabview-panels {
  border: none;
}

.centradoVertical {
  display: flex;
  justify-content: center;
  text-align: centers;
}

.spacer {
  flex: 1 1 auto;
}

#modalTerminos .ui-dialog-titlebar,
#modalTerminos .ui-dialog-title,
#dialogValidacion .ui-dialog-titlebar,
#dialogValidacion .ui-dialog-title {
  display: none !important;
  border: none;
}

.ui-dialog.ui-dialog-content {
  overflow-x: visible;
}

.ui-dialog-resizable .ui-dialog-content {
  overflow: visible;
}

#dialogValidacion .ui-dialog {
  top: 20vh;
}

#dialogValidacion .ui-dialog-content {
  padding: 0px !important;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li:focus,
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li:focus,
body .ui-tabview.ui-tabview-left .ui-tabview-nav li:focus,
body .ui-tabview.ui-tabview-right .ui-tabview-nav li:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 0 black !important;
  -moz-box-shadow: 0 0 0 0 black !important;
  box-shadow: 0 0 0 0 black !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
i:focus,
button:focus {
  box-shadow: none;
  outline: 0 none;
}

body .ui-table .ui-sortable-column .ui-sortable-column-icon {
  color: #848484 !important;
}
