<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-4 text-blue">
            <h4 class="fw-600">Cuadro de mando</h4>
        </div>
    </div>
</div>
<hr class="text-blue mt-0 main-horizontal-line">