#titulo {
  color: #024487;
  font-size: 24px;
  font-weight: 700;
}

#subtitulo {
  font-weight: 400;
  font-size: 12px;
  color: #024487;
}

tr > th {
  background: transparent !important;
  border: none !important;
  color: #4a4a4a !important;
  text-align: center !important;
}

tr > td {
  background-color: #fff !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  border-color: #caddec !important;
  border-width: 1.5px !important;
  font-weight: 500 !important;
  text-align: center !important;
}

#btnLimpiar,
#btnBuscar {
  height: 36px;
}

#btnLimpiar:hover {
  color: #6c757d;
}

#btnBuscar:hover {
  color: #007bff;
}

#btnBuscar:hover,
#btnLimpiar:hover {
  background-color: transparent;
  -webkit-box-shadow: 4px 4px 16px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 16px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 16px -6px rgba(0, 0, 0, 0.75);
}

#btnBuscar:focus,
#btnLimpiar:focus {
  background-color: #eee;
}

.statusAprobado,
.statusNuevo,
.statusObservado {
  border: 1px solid #ccc;
  padding: 2px 4px 3px 2px;
  border-radius: 10px;
  width: 70%;
  font-size: 12px;
}

.statusAprobado {
  color: rgba(0, 154, 218, 1);
  border-color: rgba(0, 154, 218, 1);
}

.statusNuevo {
  color: #666;
  border-color: #666;
}

.statusObservado {
  color: #ff9900;
  border-color: #ff9900;
}

.colTodos {
  width: 10% !important;
}

.colId {
  width: 10% !important;
}

.colRuc {
  width: 10% !important;
}

.colProveedor {
  width: 20% !important;
}

.colTipoProveedor {
  width: 20% !important;
}

.colDepartamento {
  width: 10% !important;
}

.colEstado {
  width: 10% !important;
}

.colAcciones {
  width: 10%;
}

#btnDetalle {
  color: green;
  transition: all 0.1s ease-in-out;
}

#btnDetalle:hover {
  color: greenyellow;
  transform: scale(1.3);
  cursor: pointer;
}

.p-autocomplete{
    width:calc(100% - 33px) !important;
    
  }