<div style="padding: 30px;">
    <div style="border-bottom: 1px solid black; padding-bottom: 20px;">
        <div id="titulo">
            Bandeja de proveedores
        </div>
        <div id="subtitulo">
            Datos actualizados al 03 de febrero de 2020
        </div>
    </div>

    <div [formGroup]="bandejaProveedoresForm">
        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-12 col-md-8">
                    <label class="text-gray fs-12">Buscar por número de Ruc o proveedor</label>
                    <div class="input-group mb-3">
                        <div class=" centradoVertical">
                            <fa-icon [icon]="faSearch" class="text-gray icon-search"></fa-icon>
                        </div>
                        <p-autoComplete [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                            class="p-autocomplete" formControlName="inputBuscar" [suggestions]="results"
                            field="proveedor" (completeMethod)="search($event)">
                        </p-autoComplete>
                        <!-- <input formControlName="inputBuscar" type="text" style="height: 36px;"
                            class="form-control input-search" placeholder="Buscar"> -->
                    </div>
                </div>

                <div class="col-6 col-md-2">
                    <label class="text-gray fs-12">Desde:</label>
                    <div class="mb-3">
                        <input formControlName="fechaInicio" type="date" class="form-control fs-14">
                    </div>
                </div>

                <div class="col-6 col-md-2">
                    <label class="text-gray fs-12">Hasta:</label>
                    <div class="mb-3">
                        <input formControlName="fechaFin" type="date" class="form-control fs-14">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-2">
                    <div class="form-group">
                        <label for="estado" class="text-gray fs-12">Estado</label>
                        <select formControlName="estado" class="form-control form-control-sm" id="estado">
                            <option value="">---Selecciona---</option>
                            <option *ngFor="let estado of estadosProveedor" [value]="estado.id">{{estado.descripcion}}
                            </option>
                        </select>
                        <div *ngIf="">
                            No hay campos
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <label for="tipoProveedor" class="text-gray fs-12">Tipo de proveedores</label>
                        <select formControlName="tipoProveedor" class="form-control form-control-sm" id="tipoProveedor">
                            <option value="">---Selecciona---</option>
                            <option *ngFor="let tipoProveedor of tipoProveedores" [value]="tipoProveedor.id">
                                {{tipoProveedor.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="form-group">
                        <label for="departamento" class="text-gray fs-12">Departamento</label>
                        <select formControlName="departamento" (change)="cambioDepartamento($event.target.value)"
                            class="form-control form-control-sm" id="departamento">
                            <option value="">---Selecciona---</option>
                            <option *ngFor="let departamento of departamentos" [value]="departamento.id">
                                {{departamento.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <label for="provincia" class="text-gray fs-12">Provincia</label>
                        <select formControlName="provincia" (change)="cambioProvincia($event.target.value)"
                            class="form-control form-control-sm" id="provincia">
                            <option value="">---Selecciona---</option>
                            <option *ngFor="let provincia of provincias" [value]="provincia.id">
                                {{provincia.descripcion}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="form-group">
                        <label for="distrito" class="text-gray fs-12">Distrito</label>
                        <select formControlName="distrito" class="form-control form-control-sm" id="distrito">
                            <option value="">---Selecciona---</option>
                            <option *ngFor="let distrito of distritos" [value]="distrito.id">{{distrito.descripcion}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="display: flex; justify-content: flex-end; align-items: center; padding: 20px;">
        <span class="spacer"></span>
        <button type="button" class="btn btn-outline-secondary mr-2" id="btnLimpiar">
            <i class="fa fa-eraser"></i>
            Limpiar
        </button>
        <button type="button" class="btn btn-outline-primary" id="btnBuscar" (click)="buscarProveedores()">
            <i class="fa fa-search"></i>
            Buscar
        </button>
    </div>

    <div style="padding: 10px; ">
        <div id="titulo" style="border-bottom: 1px solid black; padding-bottom: 10px">
            Lista de proveedores
        </div>
        <div class="row my-4">
            <div class="col-12">
                <p-table #dt [rowsPerPageOptions]="[ 10, 15, 20]" [value]="data" [paginator]="true" [rows]="10"
                    sortMode="multiple" [resizableColumns]="true" [responsive]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th width="10%" class="fs-12 text-center colTodos">
                                Todos
                            </th>
                            <th [pSortableColumn]="'id'" class="fs-12 colId">
                                ID
                                <p-sortIcon [field]="'id'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'ruc'" class="fs-12 colRuc">
                                RUC
                                <p-sortIcon [field]="'ruc'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'proveedor'" class="fs-12 colProveedor">
                                Proveedor
                                <p-sortIcon [field]="'proveedor'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'tipoProveedor'" class="fs-12 colTipoProveedor">
                                Tipo de proveedor
                                <p-sortIcon [field]="'tipoProveedor'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'departamento'" class="fs-12 colDepartament">
                                Departamento
                                <p-sortIcon [field]="'departamento'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'estado'" class="fs-12 colEstado">
                                Estado
                                <p-sortIcon [field]="'estado'"></p-sortIcon>
                            </th>
                            <th class="fs-12 colAcciones">
                                Acciones
                            </th>
                        </tr>
                        <tr>
                            <th style="border-left:none; border-right:none; background-color: transparent;">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th>
                                <input (input)="dt.filter($event.target.value, 'id', 'contains')" pInputText type="text"
                                    class="table-filter form-control fs-14" placeholder="ID"
                                    style="border-radius: 6px; width:100%;" maxlength="20">
                            </th>
                            <th>
                                <input (input)="dt.filter($event.target.value, 'ruc', 'contains')" pInputText
                                    type="text" class="table-filter form-control fs-14" placeholder="Buscar RUC"
                                    style="border-radius: 6px; width:100%;" maxlength="20">
                            </th>
                            <th>
                                <input (input)="dt.filter($event.target.value, 'proveedor', 'contains')" pInputText
                                    type="text" class="table-filter form-control fs-14"
                                    placeholder="Buscar por dirección" style="border-radius: 6px; width:100%"
                                    maxlength="20">
                            </th>
                            <th>
                                <input (input)="dt.filter($event.target.value, 'tipoProveedor', 'contains')" pInputText
                                    type="text" class="table-filter form-control fs-14" placeholder="Lima"
                                    style="border-radius: 6px; width:100%;" maxlength="20">
                            </th>
                            <th>
                                <input (input)="dt.filter($event.target.value, 'departamento', 'contains')" pInputText
                                    type="text" class="table-filter form-control fs-14" placeholder="Lima"
                                    style="border-radius: 6px; width:100%" maxlength="20">
                            </th>
                            <th>
                                <input (input)="dt.filter($event.target.value, 'estado.descripcion', 'contains')"
                                    pInputText type="text" class="table-filter form-control fs-14" placeholder="Lima"
                                    style="border-radius: 6px; width:100%" maxlength="20">
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dat>
                        <tr class="hover-effect">
                            <td class="fs-14 text-center"
                                style="background-color: #fff; border-bottom: none; border-left:none; border-right:none; border-color: #caddec; border-width: 1.5px; font-weight: 500;">
                                <p-tableCheckbox [value]="dat"></p-tableCheckbox>
                            </td>
                            <td>{{ dat.id }}</td>
                            <td>{{ dat.ruc }}</td>
                            <td>{{ dat.proveedor }}</td>
                            <td>{{ dat.tipoProveedor }}</td>
                            <td>{{ dat.departamento }}</td>
                            <td style="display: flex; justify-content: center; align-items: center;">
                                <div class="statusNuevo" *ngIf="dat.estado.value == 1">{{dat.estado.descripcion}}</div>
                                <div class="statusAprobado" *ngIf="dat.estado.value == 2">{{dat.estado.descripcion}}
                                </div>
                                <div class="statusObservado" *ngIf="dat.estado.value == 3">{{dat.estado.descripcion}}
                                </div>
                            </td>
                            <td class="text-center">
                                <a (click)="verDetalle(dat.id)">
                                    <i id="btnDetalle" class="fa fa-eye mr-1"></i>
                                </a>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorright" let-state>
                        Mostrando {{state.totalRecords < 1 ? 0 : state.first + 1}} a
                        {{state.totalRecords > 0 ? ((state.rows+ state.first) <= state.totalRecords ? (state.rows + state.first) : 
                            state.totalRecords) : 0}} proveedores de un total de
                        {{state.totalRecords ? state.totalRecords : 0}}.
                    </ng-template>

                </p-table>
            </div>
        </div>
    </div>
</div>