* {
    user-select: none !important;
    &:focus {
        outline: none;
    }
}

.active {
    background-color: white;
    border-left: 1px solid #024487;
}

a {
    transition: all 0.15s ease-in-out;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: white;
    &>span {
        font-size: 14px;
    }
    &:hover {
        cursor: pointer !important;
        color: #024487;
    }
}

.active>div>i,
.active>span {
    color: #024487;
}

.active>span {
    font-size: 14px;
    font-weight: 700;
}

#btnContraer {
    cursor: pointer !important;
    &:hover {
        color: #024487;
    }
}

#menuInferior {
    // height: 100%;
    background-color: green;
}

button {
    background: transparent;
    border: none;
    transition: all 0.15s ease-in-out;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    font-family: Roboto !important;
    font-size: 12px;
    text-transform: uppercase;
}

#btnCerrarSesion {
    color: firebrick;
    &:hover {
        color: red;
    }
}

#btnAjustes:hover {
    color: rgb(255, 255, 196)
}