<div style="display: flex; flex-direction: column;  height: 100vh;">

    <div style="display: flex; justify-content: center; align-items: center;" class="mt-2">
        <img src="assets/img/logo_capacita_mas_corto.png" width="40px">
    </div>

    <div class="mt-4">
        <div *ngFor="let item of menuItems">
            <a [routerLink]="item.url" routerLinkActive="active">
                <div style="width: 60px; height: 50px; display: flex; justify-content: center; align-items: center;">
                    <i style="font-size: 22px;" [class]="item.icono"></i>
                </div>
                <span *ngIf="_sidenavService.mostrar" class="pr-3">
                    {{item.descripcion}}
                </span>
            </a>
        </div>
        <mat-divider></mat-divider>

    </div>

    <!-- Para no usar este div en vista modal poner el siguiente If:
        *ngIf="!movilSize.matches" al div de ID: botonesAdicionales  -->

    <div style="flex: 1"></div>

    <div class="mb-3" style="display: flex; flex-direction: column;">
        <button id="btnCerrarSesion">
            <div style="width: 60px; height: 50px;; display: flex; justify-content: center; align-items: center;">
                <i style="font-size: 22px;" class="fas fa-sign-out-alt"></i>
            </div>

            <span *ngIf="_sidenavService.mostrar" class="pr-3">
                Cerrar sesión
            </span>
        </button>
        <button id="btnAjustes">
            <div  style="width: 60px; height: 50px;; display: flex; justify-content: center; align-items: center;">
                <i style="font-size: 22px;" class="fas fa-cog"></i>
            </div>

            <span *ngIf="_sidenavService.mostrar" class="pr-3">
                Ajustes
            </span>
        </button>
    </div>

    <div id="menuInferior">
        <div id="btnContraer">
            <a (click)="cambio()">
                <div style="width: 60px; height: 42px; display: flex; justify-content: center; align-items: center;">
                    <i [class]="_sidenavService.icono"></i>
                </div>

                <span *ngIf="_sidenavService.mostrar" class="pr-3">
                         Contraer
                </span>
            </a>
        </div>
    </div>
</div>